export(mixmapTest)
export(mixmapPI)
exportMethods(plot)
import(lme4)
import(utils)
importFrom("graphics", "abline", "axis", "legend", "points", "text")
importFrom("methods", "new")
importFrom("stats", "p.adjust", "pnorm", "qnorm")